/* Global */
body {
    font-family: 'Nunito';
    margin: 0px;
}

h1, h2, h3, p, ul {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


/* Utilidades - Componentes */
.container {
    max-width: 1240px;
    margin: 0 auto;
    /* padding-left: 40px; */
    /* padding-right: 40px; */
    box-sizing: border-box;
}


/* Utilidades - Cores */
:root {
    --cor-0: #FFFFFF;
}

.cor-0 {
    color: var(--cor-0);
}


/* Utilidades - Tipografias*/

.font-1-xl {
    font: 700 2.5rem/1.1 "Nunito";
}

.font-1-x {
    font: 600 1.75rem/1.2 "Nunito";
}

.font-1-m {
    font: 500 1rem/1.4 "Nunito";
}

.font-1-s {
    font: 500 .875rem/1.4 "Nunito";
}


/* Home - Header */
.header-info-bg {
    background: #182cb4;
}

.header-info {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-bg {
    background: #2c70ff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 30px;
}

.header-menu a {
    display: block;
    padding: 20px 0px;
}

.header-menu a::after {
    display: block;

    content: "";
    width: 0px;
    height: 2px;
    background: var(--cor-0);
    border-radius: 5px;
    transition: .3s;
}

.header-menu a:hover::after {
    width: 100%;
}

/* Home - Main */
.main {
    padding-top: 40px;
}

.main h1::after {
    display: block;

    content: "";
    width: 100%;
    height: 2px;
    background: #2c70ff;
    bottom: -40px;
    margin-top: 40px;
}

.main-sobre {
    margin-top: 40px;

    display: flex;
}

.main-sobre h2 {
    flex-grow: 3;
}


