/* Global */
body {
    font-family: 'Nunito';
    margin: 0px;
    height: 2000px;
}

h1, h2, h3, p, ul {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}


/* Utilidades - Componentes */
.container {
    max-width: 1000px;
    margin: 0 auto;
    /* padding-left: 40px; */
    /* padding-right: 40px; */
    box-sizing: border-box;
}


/* Utilidades - Cores */
:root {
    --cor-0: #FFFFFF;
    --cor-1: #F7F7F7;
    --cor-6: #969696;
    --cor-8: #595959;
}

.cor-0 {
    color: var(--cor-0);
}

.cor-1 {
    color: var(--cor-1);
}

.cor-6 {
    color: var(--cor-6);
}

.cor-8 {
    color: var(--cor-8);
}


/* Utilidades - Tipografias*/
.font-1-xl {
    font: 700 2.5rem/1.1 "Nunito";
}

.font-1-x {
    font: 600 1.75rem/1.2 "Nunito";
}

.font-1-l {
    font: 400 1.25rem/1.2 "Nunito";
}

.font-1-m {
    font: 500 1rem/1.4 "Nunito";
}

.font-1-s {
    font: 500 .875rem/1.4 "Nunito";
}


/* Home - Header */
.header-info-bg {
    background: #182cb4;
}

.header-info {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-bg {
    background: #2c70ff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 30px;
}

.header-menu a {
    display: block;
    padding: 20px 0px;
}

.header-menu a::after {
    display: block;

    content: "";
    width: 0px;
    height: 2px;
    background: var(--cor-0);
    border-radius: 5px;
    transition: .3s;
}

.header-menu a:hover::after {
    width: 100%;
}

/* Home - Main */
.main {
    padding-top: 40px;
}

/* Home - Sobre */

.sobre {
    padding: 40px 0px;
    margin-top: 40px;
    border-top: 2px solid #2c70ff;
    border-bottom: 2px solid #2c70ff;
}

.sobre-conteudo {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.sobre-texto {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 40px;
}

.sobre-imagem {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

/* Home - Produtos */
.produtos {
    margin-top: 40px;
}

.produtos-conteudo {
    display: flex;
    gap: 20px;
    align-items: flex-end;

    margin-top: 40px;
}

.produtos-conteudo span {
    display: block;
    padding: 40px 20px;
    background: var(--cor-1);
}

.produtos-conteudo .item::before {
    content: "";
    width: 100%;
    height: 8px;
    display: block;
}

.produtos-conteudo .purple::before {
    background: purple;
}

.produtos-conteudo .pink::before {
    background: lightpink;
}

.produtos-conteudo .blue::before {
    background: lightblue;
}




