/* Global */
body {
    font-family: 'Nunito';
    margin: 0px;
}

h1, h2, h3, p, ul, input, button {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

/* Utilidades - Componentes */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.container2 {
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}


/* Utilidades - Cores */
:root {
    --cor-0: #FFFFFF;
    --cor-1: #F7F7F7;
    --cor-6: #969696;
    --cor-8: #595959;
    --cor-12: #000000;

    --cor-d1: #2c70ff;
    --cor-d2: #002575;
}

.cor-0 {
    color: var(--cor-0);
}

.cor-1 {
    color: var(--cor-1);
}

.cor-6 {
    color: var(--cor-6);
}

.cor-8 {
    color: var(--cor-8);
}

.cor-d1 {
    color: var(--cor-d1);
}

.cor-d2 {
    color: var(--cor-d2);
}


/* Utilidades - Tipografias*/
.font-1-xxl {
    font: 700 2.5rem/1.1 "Nunito";
}

.font-1-xl {
    font: 700 2.0rem/1.1 "Nunito";
}

.font-1-x {
    font: 600 1.75rem/1.2 "Nunito";
}

.font-1-x-b-u {
    font: 700 1.75rem/1.2 "Nunito";
    text-transform: uppercase;
}

.font-1-l {
    font: 400 1.25rem/1.2 "Nunito";
}

.font-1-l-b {
    font: 700 1.25rem/1.2 "Nunito";
}

.font-1-m {
    font: 500 1rem/1.2 "Nunito";
}

.font-1-s {
    font: 500 .875rem/1.2 "Nunito";
}

/* Home - Header */
.header-info-bg {
    background: #182cb4;
}

.header-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-bg {
    background: #2c70ff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.header-menu a {
    display: block;
    padding: 20px 0px;
}

.header-menu a::after {
    display: block;

    content: "";
    width: 0px;
    height: 2px;
    background: var(--cor-0);
    border-radius: 5px;
    transition: .3s;
}

.header-menu a:hover::after {
    width: 100%;
}

/* Home - Main */
.main {
    padding-top: 40px;
}

/* Home - Sobre */

.sobre {
    padding: 40px 0px;
    margin-top: 40px;
    border-top: 2px solid #2c70ff;
    border-bottom: 2px solid #2c70ff;

    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.sobre-texto {
    flex: 1 1 300px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sobre-imagens {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 10px;
}


/* Home - Produtos */
.produtos {
    margin-top: 40px;
    margin-bottom: 40px;
}

.produtos-conteudo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-end;

    margin-top: 40px;
}

.produtos-conteudo .item {
    flex: 1 1 200px;
}

.produtos-conteudo span {
    display: block;
    padding: 40px 20px;
    background: var(--cor-1);
}

.produtos-conteudo .purple {
    border-top: 8px solid #2596be;
    
}

.produtos-conteudo .pink {
    border-top: 8px solid #ff245c;
}

.produtos-conteudo .blue {
    border-top: 8px solid #68dcec;
}

/*Home - Planos*/
.planos-bg {
    background: var(--cor-1);
}

.planos {
    padding-top: 40px;
    padding-bottom: 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
}

.planos > div {
    flex: 1;
    border: 4px solid var(--cor-0);
    padding: 20px 40px;
}

.planos div h3 {
    display: flex;
    justify-content: center;
}

.planos div > span {
    margin-top: 20px;

    display: block;
    text-align: center;

    border-top: 4px solid var(--cor-0);
    border-bottom: 4px solid var(--cor-0);

    padding-top: 10px;
    padding-bottom: 5px;
}

.planos div li:first-child {
    margin-top: 20px;
}

.planos div li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.planos div li::after {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #2c70ff;
}

.planos div a {
    margin-top: 20px;
    text-align: center;

    display: block;
    padding: 5px 20px;
    border: 3px solid var(--cor-12);
}

/* Home - Valores */
.valores {
    padding-top: 40px;
    padding-bottom: 40px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.valores div {
    flex: 1 1 300px;
}

.valores div h2 {
    display: flex;
    align-items: center;
}

.valores div h2::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 24px;
    margin-right: 10px;
    background: #2c70ff;
}

.valores div:nth-child(3n + 1) h2::before {
    background-color: #2596be;
}

.valores div:nth-child(3n + 2) h2::before {
    background-color: #ff245c;
}

.valores div:nth-child(3n + 3) h2::before {
    background-color: #68dcec;
}

.valores div p {
    margin-top: 10px;
}

/* Home - Newsletter */
.newsletter-bg {
    background: var(--cor-1);
}

.newsletter {
    padding-top: 40px;
    padding-bottom: 40px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.newsletter-texto {
    flex: 1;
}

.newsletter-texto p {
    max-width: 20ch;
}

.newsletter-formulario {
    flex: 2;

    display: flex;
    flex-wrap: wrap;
}

.newsletter-formulario input {
    flex: 4;
    padding: 5px 10px;
    font-family: "Nunito";
    border: 2px solid #2c70ff;
    background: transparent;
    outline: none;
}

.newsletter-formulario button {
    flex: 1;
    padding: 5px 20px;
    border: 0px;
    background: #2c70ff;

    cursor: pointer;
}

/* Home - Footer */
.footer-bg {
    background: var(--cor-d1);
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;

    text-align: center;
}





